
html{

    width: 100%;
    height: 1947px;
}

header{
    background-color: #1f1f1f;
 display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
width: 100%;
}

button{
    background: none;
  color: #eae3e3;
  margin-bottom:20px;
  border: none;
  
}

button:hover{
  color: rgb(207, 157, 50);
}

.Irene{

    width: 50px;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px;

}

.Foolish{


    background-color: rgb(228, 145, 100);
    width: 100%;
    height: 10px;
}

.Seulgi{
width: 700px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-end;
color: aliceblue;
margin-right: 50px;
font-family: 'Kanit', sans-serif;
font-family: 'Source Code Pro', monospace;
font-size: 20px;
margin-bottom:10px;
}

.Baghera{

    display: flex;
flex-direction: row;
justify-content: space-evenly;
background-color: lightslategray;
height: 400px;



}

.Lisa{
    margin: 50px;
    width: 500px;

}

.Jennie{

    margin: 50px;
    height: 900px;

}

.Jaiden{

display: flex;
flex-direction: column;
    height: 1460px;
background-color: beige;

}

.Taeil{

    display: flex;
    justify-content: space-around;
    align-items: center;
padding: 100px;

}

.Animal{

    display: flex;
    border: none;
    background-color: cadetblue;
    width: 180px;
    height: 50px;
    padding: 5px;
    border-radius: 25px;
}


.Rose{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 300px;
    height: 300px;
    margin-left: 230px;


}